* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    height: 100vh;
    background-image: url(img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index:-1;
}


ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    display:block;
}

.nav-list {
    display: flex;
    width: 100vw;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.nav-list-element {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: auto 30px;
    text-align: center;
    transition: all 0.5s;
    line-height: 30px;
    border-radius: 10px;
}

.nav-list-element:hover {
    background-color: gray;
}

.nav-list-element a {
    font-size: 14px;
    text-shadow: 0 0 2px black;
    text-align: center;
}

.title,.content{
    font-family: "宋体";
    text-shadow: 1px 1px 1px black;
}

.title{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.content{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}